<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testutills</title>
</head>
<body>
<P>Template h bhai!!!</P>
<form action='/analyze' method='get'>
    <textarea name='text' style='width: 455px; height: 188px;'></textarea>
   <br>
    <input type="checkbox" name="removepunc">removepunc</br>
    <input type="checkbox" name="fullcaps">UPPERCASE</br>
    <input type="checkbox" name="newlineremover">remove new line</br>
    <input type="checkbox" name="spaceremover">remove spaces</br>
    <input type="checkbox" name="charcount">character count</br>
    <button type='submit'>submit</button>
</form>
</body>
</html>